*{
  margin:0;
  padding: 0;
}
body{
  width:100%;
}
.container{
  margin: auto;
  width:90%;
  text-align: center;
}
.gallery-wrapper{
  display: grid;
  text-align: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.avatar{
  object-fit: cover;
}
.header-list-cards{
  background: #ff6bb1;
  width:69%;
  margin: auto;
  height:3em;
}
.title-cards{
  color: #99eb1f;
}

.rating-cards{

}